@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-blueAndGrayShad: #19282f;
  --color-text-white: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(image/5c489908a9bd6c0022d5e17f.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: "Mukta", sans-serif;
  overflow: hidden;
}
h3 {
  color: var(--color-text-white);
  padding: 0px;
  font-size: 30px;
  align-items: center;
}
.homeInfo p {
  color: #00aeff;
  font-size: 90px;
  font-weight: bold;
  align-items: center;
}
h2 {
  color: var(--color-text-white);
  margin: auto;
  align-items: center;
  /* margin-left: 80px; */
}
.container {
  display: flex;
  float: right;
}
.portfolio-logo {
  float: left;
  justify-content: space-between;
}
.container .navli {
  color: rgb(255, 255, 255);
  transition: 0.2s ease;
}
.nav-item a:hover {
  color: #d3eca7 !important;
  border-bottom: 2px solid #d3eca7 !important;
  cursor: pointer !important;
}

.nav ul {
  list-style: none;
  display: flex;
  padding-top: 15px;
  margin-right: 25px;
}
.nav li {
  margin: 10px;
  font-size: 25px;
  font-weight: 700;
}
.pages {
  display: none;
  padding: 50px 100px;
  color: var(--color-text-white);
}
.pages.active {
  display: block;
}

.container-fluid .navbar-brand #portfo {
  color: #ffffff !important;
  font-size: 30px !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-bottom: 0% !important;
}
.container-fluid .navbar-brand #lio {
  color: crimson !important;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
}
.imgInfo img {
  width: 22em;
  border-radius: 5px;
  float: right;
}
.homeInfo {
  margin-left: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Mukta", sans-serif;
  margin-left: 15px;
  font-size: 50px;
  color: #fff;
}
.logo .lio {
  font-family: "Mukta", sans-serif;
  font-size: 50px;
  color: rgb(255, 5, 5);
}
.ico #icon:hover {
  color: crimson !important;
}
.ico {
  display: flex;
  width: 20rem;
}

.ico #icon {
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
}

@media (max-width: 600px) {
  .homeInfo p {
    font-size: 40px;
  }
  .pages {
    padding: 0px 50px;
  }
  .ico {
    width: 15rem;
  }
}
