@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-blueAndGrayShad: #19282f;
  --color-text-white: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/image/backgroundImg_1.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: "Mukta", sans-serif;
  overflow: hidden;
}
h3 {
  color: var(--color-text-white);
  padding: 0px;
  font-size: 30px;
  align-items: center;
}
.homeInfo p {
  color: #00aeff;
  font-size: 90px;
  font-weight: bold;
  align-items: center;
  text-shadow: 1px 1px 1px rgba(252, 248, 248, 0.5);
}
h2 {
  color: var(--color-text-white);
  margin: auto;
  align-items: center;
  /* margin-left: 80px; */
}
.container {
  display: flex;
  float: right;
}
.portfolio-logo {
  float: left;
  justify-content: space-between;
}
.container .navli {
  color: rgb(255, 255, 255);
  transition: 0.2s ease;
}
.nav-item a:hover {
  color: #d3eca7 !important;
  border-bottom: 2px solid #d3eca7 !important;
  cursor: pointer !important;
}

.nav ul {
  list-style: none;
  display: flex;
  padding-top: 15px;
  margin-right: 25px;
}
.nav li {
  margin: 10px;
  font-size: 25px;
  font-weight: 700;
}
.pages {
  display: none;
  padding: 50px 100px;
  color: var(--color-text-white);
}
.pages.active {
  display: block;
}

.container-fluid .navbar-brand #portfo {
  color: #ffffff !important;
  font-size: 30px !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-bottom: 0% !important;
}
.container-fluid .navbar-brand #lio {
  color: crimson !important;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
}
.imgInfo img {
  width: 22em;
  border-radius: 5px;
  float: right;
}
.homeInfo {
  margin-left: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Mukta", sans-serif;
  margin-left: 15px;
  font-size: 50px;
  color: #fff;
}
.logo .lio {
  font-family: "Mukta", sans-serif;
  font-size: 50px;
  color: rgb(255, 5, 5);
}
.ico #icon:hover {
  color: #00aeff !important;
}
.ico {
  display: flex;
  width: 20rem;
}

.ico #icon {
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
}

#skill .skillsContainer {
  height: 35px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 2px;
  justify-content: space-between;
}

.bigB {
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 15px 40px;
  margin-bottom: 15px;
}
.skillsContainer.html #progressBar {
  height: 30px;
  width: 90%;
  border-radius: 20px;
  background: rgb(248, 196, 51);
  transition: 0.3s ease;
  overflow: hidden;
}

.skillsContainer.html #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}

.skillsContainer.css #progressBar {
  height: 30px;
  width: 70%;
  border-radius: 20px;
  background: rgb(55, 100, 224);
  transition: 0.3s ease;
  overflow: hidden;
}

.skillsContainer.css #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}

.skillsContainer.js #progressBar {
  height: 30px;
  width: 75%;
  border-radius: 20px;
  background: rgb(89, 214, 187);
  transition: 0.3s ease;
  overflow: hidden;
}

.skillsContainer.js #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}

.skillsContainer.java #progressBar {
  height: 30px;
  width: 80%;
  border-radius: 20px;
  background: rgb(94, 47, 61);
  transition: 0.3s ease;
  overflow: hidden;
  margin-bottom: 4px;
}

.skillsContainer.java #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}

.html,
.css,
.js,
.java {
  margin-bottom: 4px;
}

#skill .tools {
  height: 35px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 2px;
  justify-content: space-between;
}
#skill .toolsContainer {
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 15px 40px;
}

.toolsContainer .github #progressBar {
  height: 30px;
  width: 85%;
  border-radius: 20px;
  background: rgb(77, 75, 75);
  transition: 0.3s ease;
  overflow: hidden;
}
.toolsContainer .github #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}

.toolsContainer .vscode #progressBar {
  height: 30px;
  width: 100%;
  border-radius: 20px;
  background: rgba(78, 149, 241, 0.938);
  transition: 0.3s ease;
  overflow: hidden;
}
.toolsContainer .vscode #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}
.toolsContainer .intellij #progressBar {
  height: 30px;
  width: 100%;
  border-radius: 20px;
  background: rgba(142, 88, 243, 0.911);
  transition: 0.3s ease;
  overflow: hidden;
}
.toolsContainer .androidStudio #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}

.toolsContainer .androidStudio #progressBar {
  height: 30px;
  width: 60%;
  border-radius: 20px;
  background: rgba(75, 245, 103, 0.911);
  transition: 0.3s ease;
  overflow: hidden;
}
.toolsContainer .intellij #progressBar img {
  height: 40px;
  padding-top: 0px;
  margin-top: -4px;
  margin-bottom: 24px;
  margin-left: 15px;
}

.vscode,
.github,
.intellij,
.androidStudio {
  margin-bottom: 4px;
}

#resume img {
  width: 100%;
  max-width: 429px;
  height: auto;
}

@media (max-width: 600px) {
  .homeInfo p {
    font-size: 40px;
  }
  .pages {
    padding: 0px 50px;
  }
  .ico {
    width: 15rem;
  }
}
