.decode-text {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  .space {
    display: inline-block;
    width: 10px;
  }
  .text-animation {
    display: inline-block;
    position: relative;
    color: transparent;
    text-transform: uppercase;
  }
  .text-animation:before {
    content: "";
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0e182d;
    width: 0;
    height: 1.2em;
    transform: translate(-50%, -55%);
  }
  
  .text-animation.state-1:before {
    width: 1px;
  }
  .text-animation.state-2:before {
    width: 0.9em;
  }
  .text-animation.state-3 {
    color: rgb(255, 255, 255);
  }
  .text-animation.state-3:before {
    width: 0;
  }
  
  .static-character {
    display: inline-block;
    font-size: 30px;  /* Adjust as per your design */
    color: rgb(255, 255, 255);     /* Static color */
    /* text-transform: uppercase; */
}
